* {
  scroll-behavior: smooth;
}
.navbar,
.sidebar {
  font-family: "Montserrat", sans-serif;
}

.home__bg {
  background-image: url(../img/code.jpeg);
  background-color: #010101;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

.hidden {
  height: 4rem;
  width: 100%;
  z-index: 40;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.08);
  position: fixed;
  top: -80px;
  transition: 0.3s linear;
}

.nav__items,
.nav__items__social {
  font-size: 18px;
  padding-bottom: 15px;
  transition: 0.4s ease-in-out;
  list-style: none;
  margin: 0px 15px;
}

.nav__items:after {
  display: block;
  content: "";
  border-bottom: solid 3px #f9004d;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.nav__items:hover:after {
  transform: scaleX(1);
}

.home__content {
  padding: 125px 0px;
}

h1.home__text {
  font-size: 1.5vw;
  font-weight: 400;
  letter-spacing: 3px;
  color: rgba(198, 201, 216, 75) !important;
  padding: 10px 10px;
}

h2.home__text,
h4.home__text {
  font-size: calc(15px + 2.9vw);
  line-height: 3.95vw;
  font-weight: 0px;
  color: white;
  padding: 10px 0px;
}

h3.home__text {
  font-size: calc(15px + 2.9vw);
  font-weight: 800;
  color: #f9004d;
  line-height: 40px;
  padding: 10px 0px;
}

.header {
  transition: 0.4s all ease;
  display: flex;
  align-items: center;
  padding: 30px;
}

.header.active {
  position: fixed;
  width: 100%;
  padding: 0px 30px;
  background-color: #353030;
  z-index: 1;
}

@media (min-width: 768px) {
  .nav__icon {
    display: none;
  }
}

.toggle__menu {
  display: flex;
  justify-content: flex-end;
  float: right;
  z-index: 1000;
  width: 100%;
  padding: 0px;
  padding: 20px 0px;
  padding-bottom: 0px;
}

ul.sidebar {
  flex-wrap: wrap;
  height: 100%;
  position: fixed;
  right: 0%;
  background-color: #010101;
  justify-content: center;
  width: 300px;
  top: 0;
  flex-direction: column;
}
.sidebar {
  display: flex;
}

li.sideNavbar {
  padding: 25px 30px;
}

li.sideNavbar:hover {
  background-color: grey;
}
.navbar {
  display: flex;
}

.social__icons {
  display: flex;
  flex-direction: row;
}

.social {
  font-size: 30px;
}

.social:hover {
  transition: all 0.65s;
  transform: rotateY(180deg);
}

.navigation {
  padding: 20px 50px;
  padding-bottom: 0px;
}

@media (min-width: 769px) {
  .social__icons__mini__nav,
  .hamIcon,
  .sidebar {
    display: none;
  }
}

@media (max-width: 698px) {
  h1.home__text {
    font-size: 2vw;
  }
}

@media (max-width: 768px) {
  .social__icons__mini__nav {
    display: flex;
    flex-direction: row;
  }

  .header {
    justify-content: space-between;
  }
  h2.white.pz__10 {
    font-size: 50px;
  }

  .navigation {
    display: none;
  }
  .nav__icon {
    width: 30px;
    height: 30px;
  }
  .social__icons {
    display: flex;
  }
}
